In [1]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

import pandas as pd

In [2]:
pd.set_option('display.max_rows', 25)

In [3]:
file = open('../config/mongo', 'r')
mongo = file.read().splitlines()
file.close()
uri = f"mongodb+srv://{mongo[0]}:{mongo[1]}@discordcluster.ujcowjs.mongodb.net/?retryWrites=true&w=majority"
mongo_client = MongoClient(uri, server_api=ServerApi('1'))
db = mongo_client.my_database
db = db.posts

In [4]:
df = pd.DataFrame(list(db.find()))

In [5]:
df

,_id,content,id,author.global_name,author.name,mention_everyone,pinned,reactions,channel.name,mentions,role_mentions,guild.id,guild.name,author.nick,created_at,edited_at
0,65aec59ab34d51f31e7205e4,test,1199077135063732365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
1,65aec5a0b34d51f31e7205e5,$hello,1199077159969509407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
2,65aec5a1b34d51f31e7205e6,Hello!,1199077161085181995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
3,65aec961486a2b37a86a6859,$hello,1199081188468469860,Lion,lion4567714,False,False,[],NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
4,65aec961486a2b37a86a685a,Hello!,1199081189739335680,None,Lion Bot,False,False,[],NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
650,65b181d6f7f802b32767ed28,It's ours,1199871927213359187,TheBugMonster,thebugmonster,False,False,[],general,NaN,[],3.077256e+17,[TUFFF],Biggie cheese,2024-01-25 00:22:39.990,NaN
651,65b181e0f7f802b32767ed29,Noice,1199871969009598554,BC_Stryker,bruh_stryker,False,False,[],general,NaN,[],3.077256e+17,[TUFFF],Business Major (Drone User),2024-01-25 00:22:49.955,NaN
652,65b18251f7f802b32767ed2a,Idk but I think this is a good range for the lab,1199872442101936280,TheBugMonster,thebugmonster,False,False,[],general,NaN,[],3.077256e+17,[TUFFF],Biggie cheese,2024-01-25 00:24:42.749,NaN
653,65b1825df7f802b32767ed2b,67.999->68.005->67.99,1199872494975340564,TheBugMonster,thebugmonster,False,False,[],general,NaN,[],3.077256e+17,[TUFFF],Biggie cheese,2024-01-25 00:24:55.355,NaN
654,65b18262f7f802b32767ed2c,That's some good fucking range,1199872513484795944,TheBugMonster,thebugmonster,False,False,[],general,NaN,[],3.077256e+17,[TUFFF],Biggie cheese,2024-01-25 00:24:59.768,NaN

In [6]:
# Take only messages with a known created_at value
df.dropna(subset=['created_at'])
df = df[df['created_at'].notnull()]
df

,_id,content,id,author.global_name,author.name,mention_everyone,pinned,reactions,channel.name,mentions,role_mentions,guild.id,guild.name,author.nick,created_at,edited_at
543,65aff70f6d307c823cfbfa26,test,1199477436413395217,Lion,lion4567714,False,False,[],general,NaN,[],9.762517e+17,Bot Harem,None,2024-01-23 22:15:06.054,NaN
544,65aff7376d307c823cfbfa27,testing testing 123,1199477608014950483,Lion,lion4567714,False,False,[],coding,NaN,[],3.077256e+17,[TUFFF],Lion Boy,2024-01-23 22:15:46.967,NaN
545,65aff99984785e8ddfcb111c,test,1199480162530623559,Lion,lion4567714,False,False,[],general,NaN,[],9.762517e+17,Bot Harem,None,2024-01-23 22:25:56.011,NaN
546,65aff9aa892723f4c1070c41,testing,1199480233682812988,Lion,lion4567714,False,False,[],general,NaN,[],9.762517e+17,Bot Harem,None,2024-01-23 22:26:12.975,NaN
547,65aff9cd892723f4c1070c42,I've literally bought books for you,1199480380772847667,TheBugMonster,thebugmonster,False,False,[],school,NaN,[],3.077256e+17,[TUFFF],Biggie cheese,2024-01-23 22:26:48.044,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
650,65b181d6f7f802b32767ed28,It's ours,1199871927213359187,TheBugMonster,thebugmonster,False,False,[],general,NaN,[],3.077256e+17,[TUFFF],Biggie cheese,2024-01-25 00:22:39.990,NaN
651,65b181e0f7f802b32767ed29,Noice,1199871969009598554,BC_Stryker,bruh_stryker,False,False,[],general,NaN,[],3.077256e+17,[TUFFF],Business Major (Drone User),2024-01-25 00:22:49.955,NaN
652,65b18251f7f802b32767ed2a,Idk but I think this is a good range for the lab,1199872442101936280,TheBugMonster,thebugmonster,False,False,[],general,NaN,[],3.077256e+17,[TUFFF],Biggie cheese,2024-01-25 00:24:42.749,NaN
653,65b1825df7f802b32767ed2b,67.999->68.005->67.99,1199872494975340564,TheBugMonster,thebugmonster,False,False,[],general,NaN,[],3.077256e+17,[TUFFF],Biggie cheese,2024-01-25 00:24:55.355,NaN
654,65b18262f7f802b32767ed2c,That's some good fucking range,1199872513484795944,TheBugMonster,thebugmonster,False,False,[],general,NaN,[],3.077256e+17,[TUFFF],Biggie cheese,2024-01-25 00:24:59.768,NaN